div.signer {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    gap: 2vh;
    margin-bottom: 2vh;
}

div.signer button {
    font-size: 1.5vh;
    padding: 0.3vh 0.5vh 0.3vh 0.5vh;
}

div.signer div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

div.signer h {
    font-size: 2vh;
    font-weight: bold;
    margin-right: 1vh;
}

div.signer h:first-child{
    margin-left: 0;
}

div.signer p{
    font-size: 1.5vh;
    margin: 0;
}

div.title{
    margin-bottom: 2vh;
}

div.title h {
    font-size:4vh;
}

div.collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1vh;
}

div.network_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1vh;
}

div.network_content button {
    font-size: 1.6vh;
    margin-bottom: 2vh;
    padding: 0.3vh 0.5vh 0.3vh 0.5vh;
}

div.network_content p {
    font-size: 1.6vh;
    margin: 0;
    margin-bottom: 2vh;
}

div.network_title {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 1vh;
}

div.network_title button{
    font-family: inherit;
    font-size: 2.5vh;
    background-color: transparent;
    border: none;
    margin-left: 1vh;
    padding: 0;
}

div.network_title p {
    position: absolute;
    right: -2vh;
    font-size: 2vh;
}

div.network_title img{
    height: 2.5vh;
}

div.canvas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.card img {
    display: block;
    height: 16vh;
}

div.card:hover {
    z-index: 1;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}