div.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
}

div.title h {
    font-size:4vh;
}

div.title div {
    display: flex;
    align-items: baseline;
}

div.chainInfo {
    position: relative;
}

div.chainInfo p {
    font-size: 2vh;
    margin: 0;
}

div.chainInfo p:nth-child(2) {
    position: absolute;
    right: -2vh;
    font-size: 2vh;
}

div.ownerInfo h {
    font-size: 2vh;
    font-weight: bold;
    margin-right: 1vh;
}

div.ownerInfo p {
    font-size: 1.5vh;
    margin: 0;
}

div.image {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-bottom: 2vh;
}

div.image img {
    height: 40vh;
}

div.attributes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40vw;
}

div.attribute {
    display: block;
    border: 1px solid rgb(0, 0, 0);
    width: fit-content;
    height: fit-content;
    padding: 2px 4px 2px 4px;
    margin: 2px;
}

div.attribute h {
    display: block;
    text-align: center;
    font-size:3vh;
}

div.attribute p {
    font-size:2vh;
    text-align: center;
    margin: 0;
}